<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pos</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="cache.provider_class">
            org.hibernate.cache.EhCacheProvider
    </property>
    <property name="cache.use_second_level_cache">true</property>
    <mapping class="com.googlecode.projecttemplate.pos.model.Person"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.Customer"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.MemberCustomer"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.Menu"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.Product"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.Purchase"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.PurchaseDetail"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.Role"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.Sales"/>
    <mapping class="com.googlecode.projecttemplate.pos.model.SalesDetail"/>
  </session-factory>
</hibernate-configuration>
